.asideBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: #252f3e;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}
.asideBarLogoWrap {
  background: #fff;
  padding: 9px 15px;
}
.actionButton {
  background: transparent;
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  outline: none;
  color: #0000008a;
  transition: all 0.3s ease-in-out;
}
.actionButton.iwh-21 > svg {
  width: 21px;
  height: 21px;
}
.actionButton:hover {
  background: rgba(0, 0, 0, 0.04);
}
.asideBarMenus {
  max-height: calc(100vh - 76px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 15px;
}
.asideBarMenu {
  display: flex;
  flex-wrap: wrap;
}
.asideBarMenu a.asideBarMenuTrigger,
.asideBarMenu button.asideBarMenuTrigger {
  max-width: 95%;
  flex: 1 0 95%;
  text-align: left;
  border: 0;
  color: #fff;
  background: transparent;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  border-radius: 0px 40px 40px 0px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.asideBarMenu a.asideBarMenuTrigger:hover,
.asideBarMenu button.asideBarMenuTrigger:hover,
.asideBarMenu a.asideBarMenuTrigger.active,
.asideBarMenu button.asideBarMenuTrigger.active {
  background: #ffffff1a;
}
.asideBarMenuText {
  padding-left: 8px;
}
.asideBarMenuIcon svg {
  width: 23px;
  height: 23px;
}
.asideBarSubMenu {
  max-width: 100%;
  flex: 1 0 100%;
}
.asideBarSubMenu ul li {
  padding-left: 30px;
  margin-bottom: 3px;
}
.asideBarSubMenu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 7px 15px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mainHeader {
  flex: 1 0 auto;
  margin-left: 260px;
  min-height: 61px;
  padding: 0px 15px;
  background: #fff;
  z-index: 11;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.mainHeaderInner {
  min-height: 61px;
}
.mainHeaderUserButton {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: 1px solid #ddd;
  padding: 5px 16px;
  outline: none;
  border-radius: 2px;
}
.userInfo span {
  display: block;
  line-height: 15px;
  font-size: 14px;
  font-weight: 500;
  max-width: 180px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}
.userInfo span:nth-child(2) {
  font-size: 13px;
  color: #6b7280;
}
.userIcon {
  padding-left: 10px;
}
.userIcon > span {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  background: #3f51b51f;
  border-radius: 40px;
  color: #3f51b5;
}
.mainHeaderUser {
  padding-left: 15px;
}
.appMain {
  flex: 1 0 auto;
  margin-left: 260px;
  max-height: calc(100vh - (61px + 35px));
  min-height: calc(100vh - (61px + 35px));
  overflow-x: hidden;
  overflow-y: auto;
}
.contentHeader {
  color: #fff;
  height: 120px;
  min-height: 120px;
  background-size: cover;
  background-color: #232d3b;
  position: relative;
}
.contentTitle,
.contentSearch {
  max-width: 100%;
  flex: 1 0 100%;
}
.contentTitle {
  padding: 10px 15px;
  font-size: 21px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}
.contentSearch input {
  background: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 3px;
  width: 95%;
  margin: 0 auto;
  display: block;
  outline: none;
}
.contentAction {
  position: absolute;
  bottom: -25px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #3f51b5;
  border: 0;
  color: #fff;
  outline: none;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}
.contentTable {
  width: 100%;
}
table.contentTable thead tr th {
  padding: 16px 8px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  white-space: nowrap;
  color: #111827;
  text-transform: capitalize;
}
table.contentTable tbody tr td {
  padding: 12px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.actionColumn {
  display: flex;
}
.actionColumn button,
.contentActions button {
  background: transparent;
  border: 0;
  padding: 3px 10px;
  outline: none;
}
.actionColumn button.edit {
  color: #4caf50;
}
.actionColumn button.del {
  color: #f44336;
}
.fileIcon svg {
  display: block;
  margin: 0 auto;
}
table.click tbody tr:hover,
table.click tbody tr.seleted {
  cursor: pointer;
  background: #f9f9f9;
}
.contentActions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}
.contentActions button {
  color: #ffffff;
}
.contentInfo {
  padding: 5px 15px 0px;
}
.contentInfo h4 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contentInfo label {
  font-size: 14px;
}
.contentScroll {
  max-height: calc(100vh - (61px + 35px));
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}
.contentBox {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  padding: 15px 0px;
  border-radius: 8px;
  background: #ffffff;
  margin-bottom: 20px;
  height: calc(100% - 20px);
}
.contentBoxHeader {
  padding: 12px 20px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bxAddAction {
  padding: 5px 12px;
  border: 0;
  outline: none;
  display: inline-flex;
  border-radius: 3px;
  background: #3f51b51f;
  color: #3f51b5;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.bxAddAction:hover {
  background: #3f51b5;
  color: #ffffff;
}
.contentBoxHeader h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #111827;
}
.contentBoxItems li {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 20px;
  justify-content: space-between;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.contentBoxItems li:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}
.contentBoxItems li label {
  font-weight: 400;
  text-transform: capitalize;
}
.contentBoxItems li p {
  color: #0000008a;
}
.bxAction {
  background: transparent;
  padding: 5px 5px;
  border: 0;
  outline: none;
  display: inline-flex;
  border-radius: 2px;
}
.bxAction svg {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.bxAction.edit {
  color: #4caf50;
}
.bxAction.del {
  color: #f44336;
}
.contentBoxItems {
  max-height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
}
.postButton {
  background: #3f51b51f;
  border: 0;
  padding: 7px 15px;
  border-radius: 2px;
  text-transform: capitalize;
  font-weight: 500;
  color: #3f51b5;
  margin-left: 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.postButton:hover {
  background: #3f51b5;
  color: #ffffff;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}
.contentHeader .breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
}
.contentHeader .breadcrumb-item.active {
  color: #878e94;
}
.search-filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.search-filters .search-filter {
  max-width: 100%;
  flex: 1 0 100%;
}
.search-filters .search-filter:not(:last-child) {
  padding-bottom: 6px;
  border-bottom: 1px solid #f1f1f1;
}
.search-filters .search-filter .search-filter-heading {
  color: #838683;
  width: 100%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  user-select: none;
}
.search-filters .search-filter .search-filter-heading span {
  font-weight: 500;
  font-size: 13px;
}
.search-filters .search-filter:not(:first-child) .search-filter-heading {
  padding: 12px 0px 5px;
}
.search-filters .search-filter .search-filter-heading svg {
  width: 23px;
  height: 23px;
}
.search-filters
  .search-filter
  input[type="checkbox"]:checked
  + .search-filter-heading
  svg {
  transform: rotate(-90deg);
}
.search-filters .search-filter-content {
  display: block;
  width: 100%;
  max-height: 200px;
  height: auto;
  overflow: hidden;
  padding-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-filters input[type="checkbox"]:checked ~ .search-filter-content {
  padding-top: 0px;
  height: 0;
}
.search-filters .search-filter-content .search-filters-items {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
}
.search-filters
  .search-filter-content
  .search-filters-items
  .search-filters-item {
  max-width: 100%;
  flex: 1 0 100%;
  padding-bottom: 2px;
}
.search-filters .search-filters-items .search-filters-item label {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 3px 36px;

  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-filters .search-filters-items .search-filters-item label i {
  font-size: 14px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-style: inherit;
}
.search-filters .search-filters-items .search-filters-item label:hover {
  background: #f7f7f7;
}
.search-filters .search-filters-items .search-filters-item label span {
  position: absolute;
  right: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #838683;
}
.search-filters .search-filters-items .search-filters-item label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #838683;
  border-radius: 2px;
  position: absolute;
  left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-filters .search-filters-items .search-filters-item label::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #838683;
  border-radius: 1px;
  position: absolute;
  left: 9px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-filters
  .search-filters-items
  .search-filters-item
  input[type="checkbox"]:checked
  + label::after {
  background: #283484;
  opacity: 1;
}
.search-filters
  .search-filters-items
  .search-filters-item
  input[type="checkbox"]:checked
  + label::before {
  border-color: #283484;
}
.search-filters
  .search-filters-items
  .search-filters-item
  input[type="checkbox"]:checked
  + label {
  color: #283484;
  background: #28348408;
}
.search-result-top {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e1e1;
}
.search-result-top p {
  margin: 0;
  color: #838683;
}
.search-result-top p b {
  color: #333;
}
.search-result-top p select {
  border: 0;
  outline: none;
  background: transparent;
  padding: 0px 4px;
  color: currentColor;
  cursor: pointer;
}
.search-results {
  padding-top: 20px;
}
.search-result-block {
  width: 100%;
  padding: 2px;
  margin-bottom: 15px;
}
.search-result-block .search-result-block-inner {
  border: 2px solid #ebebeb;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-result-block .search-result-block-inner:hover {
  border-color: #283484;
}
.search-result-block .search-result-block-image {
  max-width: 100px;
  flex: 1 0 100px;
  padding: 3px;
  border: 1px solid #f3f3f3;
  border-radius: 2px;
}
.search-result-block .search-result-block-content {
  flex: 1 0 auto;
  max-width: calc(100% - 100px);
  padding-left: 15px;
  padding-top: 6px;
}
.search-result-block .srbc-name {
  font-size: 15px;
  display: block;
  text-decoration: none;
  color: #283484;
  text-transform: capitalize;
}
.search-result-block .srbc-prof {
  display: block;
  font-size: 14px;
  color: #838683;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.search-result-block .srbc-comp {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #283484;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}
.search-result-block .srbc-location {
  display: block;
  font-size: 14px;
  color: #838683;
  text-transform: capitalize;
}
.search-result-block .srbc-location,
.search-result-block .srbc-comp {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: left center;
}
.search-result-block a:hover {
  text-decoration: underline;
}

.search-result-block .search-result-block-content-bottom {
  max-width: 100%;
  flex: 1 0 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-result-block .search-result-block-content-bottom p {
  color: #838683;
  margin: 0;
  font-size: 14px;
}
.search-result-block .srbc-button {
  background: seagreen;
  border: 0;
  color: #fff;
  font-weight: 500;
  padding: 6px 20px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-result-block .srbc-button:hover {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
}
.companySearchBlock {
  width: 100%;
  margin-bottom: 25px;
}
.companySearchBlock a {
  text-decoration: none;
  color: inherit;
}
.companySearchBlockInner {
  width: 100%;
  padding: 15px 15px 20px 15px;
  box-shadow: 0px 0px 0px 1px #ddd;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.companySearchBlockInner:hover {
  box-shadow: 0 1px 6px 0 #ddd;
}
.companySearchBlock h3 {
  font-size: 18px;
  font-family: inherit !important;
  font-weight: 500;
  margin-bottom: 6px;
}
.companySearchBlock:hover h3 {
  text-decoration: underline;
}
.companySearchBlock .comapany-name {
  font-weight: 500;
  margin-bottom: 5px;
}
.companySearchBlock button {
  border: 0;
  outline: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 2px;
  background: transparent;
  text-transform: uppercase;
  color: #3f51b5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.companySearchBlock button svg {
  margin-right: 8px;
}
.companySearchBlock button:hover {
  background: #3f51b51f;
  cursor: pointer;
}
.companySearchBlock ul li {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.companySearchBlock ul li::before {
  content: ".";
  line-height: 0.2;
  position: absolute;
  left: 3px;
  font-weight: 600;
  margin-top: -10px;
  font-size: 20px;
}
.companySearchBlock ul li:not(:last-child) {
  margin-right: 10px;
}
.companySearchBlock .postedFlag {
  position: absolute;
  right: 10px;
  bottom: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #0000008a;
}
.tableAvtar {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  margin: 0 auto;
}
.link-small-bold {
  font-size: 14px;
  font-weight: 500;
}
.control-pwd {
  position: relative;
  display: flex;
  align-items: center;
}
.control-pwd svg {
  position: absolute;
  right: 0;
  width: 40px;
  color: #777;
  cursor: pointer;
  height: 38px;
  padding: 10px;
}
.dashbox {
  margin-bottom: 15px;
}
.dashbox .dashbox-inner {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  align-items: center;
  color: #3f51b5;
}
.dashbox .dashbox-icon svg {
  width: 60px;
  height: 60px;
  color: currentColor;
}
.dashbox .dashbox-info {
  padding-left: 15px;
}
.dashbox .dashbox-info h2 {
  margin-bottom: 0px;
  font-weight: 500;
}
.dashbox .dashbox-info h5 {
  margin-bottom: 0px;
  font-size: 15px;
}
.select_indicator.select_dropdown-indicator {
  padding: 0px !important;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 12px;
}
.css-1okebmr-indicatorSeparator {
  width: 0 !important;
}
.select__indicator svg {
  display: none;
}
.select_indicator.select_clear-indicator {
  padding: 0px !important;
  width: 30px;
  height: 30px;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/0.6rem auto no-repeat;
}
.select__indicator {
  cursor: pointer;
}
.select__indicator:hover {
  background-color: #f6f6f6;
}
.select__indicators {
  align-items: flex-start;
  padding-top: 5px;
  padding-right: 5px;
}
.select_multi-value_remove {
  padding: 0px !important;
}
.select_multi-value_remove svg {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/0.580rem auto no-repeat;
}
.select_multi-value_remove:hover svg {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DE350B'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/0.580rem auto no-repeat;
}
.select_multi-value_remove svg path {
  display: none;
}
.dashboard-box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}
.dashboard-box h3 {
  font-size: 18px;
  text-transform: capitalize;
  color: #3f51b5;
}
.dashboard-box label {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #3f51b5;
}
.dashboard-box > div > .d-block {
  max-width: 80%;
  flex: 1 0;
}
.dashboard-box .dash-count {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  background: #3f51b51f;
  color: #3f51b5;
  border-radius: 100%;
  display: flex;
  align-items: center;
}
.dashboard-box.border-primary {
  background: #3f51b51f;
  border-color: #3f51b547 !important;
}
.dashboard-box.border-success {
  background: #4caf501f;
  border-color: #4caf5047 !important;
}
.dashboard-box.border-success label,
.dashboard-box.border-success h3 {
  color: #4caf50;
}
.dashboard-box.border-success .dash-count {
  background: #4caf501f;
  color: #4caf50;
}
.dashboard-box.border-warning {
  background: #ff98001f;
  border-color: #ff980047 !important;
}
.dashboard-box.border-warning label,
.dashboard-box.border-warning h3 {
  color: #ff9800;
}
.dashboard-box.border-warning .dash-count {
  background: #ff98001f;
  color: #ff9800;
}
.wlcm-block h3 {
  font-size: 18px;
  margin: 0;
}
.wlcm-block p {
  font-size: 14px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.actionbtn{
  position: absolute;
    right: 10px;
    bottom: 2px;
    font-size: 13px;
    font-weight: 500;
    color: #0000008a;
    top: 10px;
}
.app__search_options {
  position: absolute;
  background: #fff;
  top: 100%;
  left: calc(var(--bs-gutter-x)*0.5);
  min-width: 100%;
  border-radius: 0 5px 5px 7px;
  width: auto;
  z-index: 90;
  box-shadow: 0 4px 5px hsl(0deg 0% 68% / 29%);
  border-top: 0;
  transition: all .3s ease-in;
  margin-top: 10px;
}
.app_search_options .app_search_options-list::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: -16px;
  left: 1px;
}
.app__search_options .app__search_options-list {
  padding: 10px 0px;
}
.app__search_options .app__search_options-list li {
  padding: 4px 15px;
  color: #666;
}
.app__search_options
  .app__search_options-list
  .app__search_options-list_active {
  color: #283484;
  background: #2834842b;
}
.app__search_options .app__search_options-list li:hover {
  background: #f6f6f6;
  cursor: pointer;
}
.clstype{
  text-transform: capitalize;
}